customTag/src/main/resources/META-INF/rpc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            xmlns="http://www.changsai.com/schema/rpc"
            targetNamespace="http://www.changsai.com/schema/rpc">

    <xsd:annotation>
        <xsd:documentation>
            <![CDATA[ Namespace support for the rpc services provided by rpc framework. ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:complexType name="registryType">
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="address" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="protocol" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="protocolType">
        <xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="host" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="port" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="referenceType">
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="protocol" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="interfaceName" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="cluster" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="loadBalance" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="retries" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="serviceType">
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="interfaceName" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="ref" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="protocol" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>


    <xsd:element name="registry" type="registryType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ The registry config ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="reference" type="referenceType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Reference service config ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="service" type="serviceType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Export service config ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="protocol" type="protocolType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Service provider config ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>